<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid float-start">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="float:left;" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="calculator">Calories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="aboutus">About</a>
                </li>
            </ul>
            <div style="float: left;">
                <div id="search-tag" style="float:left">
                    <ng-container *ngIf="jePovezava()">
                        <div *ngIf="jeIndex()" class="d-flex">
                            <input name="inputPolje" id="ukucaj" class="form-control me-2" type="search"
                                placeholder="Search" name="name" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit" (click)="funk()" id="btnSearch">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngIf="jePovezava();else offline">
                    <div style="float:right;" *ngIf="jePrijavljen()">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ ime.uporabniskoIme }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" routerLink="myprofile">My Profile</a></li>
                                    <li><a class="dropdown-item" routerLink="edit-profile">Edit Profile</a></li>
                                    <li><a class="dropdown-item" routerLink="new_recipe">New recipe</a></li>
                                    <li><a class="dropdown-item" routerLink="login">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a *ngIf="!jePrijavljen()" style="ytext-decoration: none; color: #555555" routerLink="login">Log in</a>
                </ng-container>
            </div>
        </div>
    </div>
</nav>
<ng-template #offline>
    <p>No internet</p>
</ng-template>
<main>
    <router-outlet></router-outlet>
</main>
